html {
  background-image: url(BIDENBABY.JPG);
}
.bidenForm {
  background-color: linen;
  text-align: center;
  width:80vw;
  margin-left:5%;
  font-family: arial;
  margin-top:10%;
  border: solid grey;
  /* box-shadow: olive 10px 10px ; */
}

#arrow {
  color:red;
  text-decoration: orangered;
}

#charsLeft {
  font-size: x-small;
}